<div class="gen-view">
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<div id="intersection" class="col-md-12 search-view">
					<h3 class="op">Genres you and {{context.name}} both like:</h3>
					<p class="op">
						{{context.intersection}}
					</p>
				</div>
				<div id="in-playlist" class="col-md-12 search-view">
					<h3 class="op">Songs in your joint playlist:</h3>
					<button class="btn btn-success save-songs">Save songs</button>
					<div class="scrollit"> 
						<ul class="in-songlist songlist">
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="recommended-songs" class="col-md-5 search-view">
			<h3 class="op">Recommended songs to add:</h3>
			<div class="scrollit"> 
				<ul class="rec-songlist songlist">
					{{#each context.recommendedSongList}}
						<li class="track trackdiv recitem">
							<hr class="track-divider">
							<div class="icon-plus"><p class="song-name">+</p></div>
							<a href="https://open.spotify.com/track/{{this.id}}" target="_blank">
							<svg
					           xmlns:dc="http://purl.org/dc/elements/1.1/"
					           xmlns:cc="http://creativecommons.org/ns#"
					           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
					           xmlns:svg="http://www.w3.org/2000/svg"
					           xmlns="http://www.w3.org/2000/svg"
					           version="1.1"
					           id="svg4136"
					           class="play-button"
					           viewBox="0 0 192 192"
					           style="
					           	height: 20px;
					           	width: 20px;
					           	display: inline-block;
					           	vertical-align: middle;
					           ">
					          <defs
					             id="defs4138" />
					          <metadata
					             id="metadata4141">
					            <rdf:RDF>
					              <cc:Work
					                 rdf:about="">
					                <dc:format>image/svg+xml</dc:format>
					                <dc:type
					                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
					                <dc:title></dc:title>
					              </cc:Work>
					            </rdf:RDF>
					          </metadata>
					          <g
					             transform="translate(0,-860.36216)"
					             id="layer1" />
					          <g
					             id="layer2">
					            <path
					               transform="matrix(1.1764192,0,0,1.0752327,-27.131273,-3.224908)"
					               d="M 43.564355,162.29703 42.948727,24.038598 162.99185,92.634664 Z"
					               id="path8014"
					               style="fill:#88888f;fill-opacity:1;stroke:#88888f;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
					          </g>
					        </svg>
							</a>
							<p class="song-name">{{this.name}} - {{this.artist}}</p>
							<p class="uridata" style="display: none;">{{this.uri}}</p>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>